body,
html {
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
  	background: #373B44;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background: url(background.jpg) no-repeat center center fixed;  */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* On click of the image it will make the image scale down to 0.85 */

.onClick:active {
    -webkit-transform: scale3d(0.85, 0.85, 0.85);
    -moz-transform: (0.85, 0.85, 0.85);
    -o-transform: (0.85, 0.85, 0.85);
    -ms-transform: (0.85, 0.85, 0.85);
	transform: (0.85, 0.85, 0.85);
}


/* this allows the logo image to scale with the user */
.logo{
	max-width:100%;
	height:auto;
	
}


 /* this is the styles for the title */
strong{
	font-size: 2.1rem;
	color: #fdfdfd;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	animation-name: title;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
/* These are all the styles for the Bootstrap button */
hr{
	border-color: #F6A54B;
	border-width: 3px;
	max-width: 65px;
}

.buffer{
	height: 5rem;
}


.btn{
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
}
.btn-primary{
	background-color: #F6A54B;
	border-color: #F6A54B;
}
.btn-primary:hover {
	background-color: #E68921;
	border-color: #E68921;
	border-width: 4px;

}

.btn-xl{
	padding: 1rem 2rem;

}


/* This is the key frame for the logo to make it animate */
@keyframes title{
	0% {color: cornflowerblue;}
	25% {color: rgb(136, 172, 240);}
	50% {color: rgb(163, 189, 238);}
	75% {color: rgb(186, 205, 240);}
}